@model IEnumerable<BikeStore.Models.Product>

@{
    ViewData["Title"] = "Lista de Productos";
}

<h1>Lista de Productos</h1>

<div class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-info">Crear nuevo Producto</a>
</div>

<table class="table table-light table-striped table-hover text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start" >
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="d-flex justify-content-center" >
                    @await Html.PartialAsync("_ActionButtons", item.ProductId)
                </td>

            </tr>
        }
    </tbody>
</table>
