@model IEnumerable<BikeStore.Models.Product>

@{
    ViewData["Title"] = "Lista de Productos";
}

<h1>Lista de Productos</h1>

<div class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-info">Crear nuevo Producto</a>
</div>

<div class="d-flex justify-content-end">
    <form asp-action="Index" method="get">
        <div class="input-group mt-3">
            <label for="CustomerId" class="input-group-text">Cliente</label>
            <select class="form-select" name="CustomerId" id="CustomerId">
                <option value="">Todos los clientes</option>
                
            </select>
            <label for="StartPrice" class="input-group-text">Rango de Precio Desde:</label>
            <input type="number" class="form-control" name="StartPrice" id="StartPrice" value="@ViewData["StartPrice"]">
            <label for="EndPrice" class="input-group-text"> Hasta:</label>
            <input type="number" class="form-control" name="EndPrice" id="EndPrice" value="@ViewData["EndPrice"]">
            <button type="button" class="input-group-text" onclick="fullResect(event)">Resetar</button>
            <button type="submit" class="input-group-text">Buscar</button>
        </div>
    </form>
</div>
<table class="table table-light table-striped table-hover text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start" >
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="d-flex justify-content-center" >
                    @await Html.PartialAsync("_ActionButtons", item.ProductId)
                </td>

            </tr>
        }
    </tbody>
</table>
