@model IEnumerable<BikeStore.Models.Product>

@{
    ViewData["Title"] = "Lista de Productos";
}

<h1>Lista de Productos</h1>

<div class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-info">Crear nuevo Producto</a>
</div>

<div class="d-flex justify-content-end">
    <form asp-action="Index" method="get" id="formSearch">
        <div class="input-group mt-3">
            <label for="ProductId" class="input-group-text">Producto</label>
            <input type="search" class="form-control" placeholder="Datos del cliente" name="searchString" aria-label="Recipient's username" aria-describedby="basic-addon2"
                   value="@ViewBag.SearchString">
            <label for="StartPrice" class="input-group-text">Rango de Precio Desde:</label>
            <input type="number" class="form-control" name="StartPrice" id="StartPrice" value="@ViewData["StartPrice"]">
            <label for="EndPrice" class="input-group-text"> Hasta:</label>
            <input type="number" class="form-control" name="EndPrice" id="EndPrice" value="@ViewData["EndPrice"]">
            <button type="button" class="input-group-text" onclick="fullResect(event)">Resetar</button>
            <button type="submit" class="input-group-text">Buscar</button>
        </div>
    </form>
</div>
<table class="table table-light table-striped table-hover text-center">
    <thead>
        <tr>
            <th>
                @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("ProductName", Html.DisplayNameFor(model => model.ProductName).ToString()))
            </th>
            <th>
                @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("ModelYear", Html.DisplayNameFor(model => model.ModelYear).ToString()))
            </th>
            <th>
                @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("Price", Html.DisplayNameFor(model => model.Price).ToString()))
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="d-flex justify-content-center">
                    @await Html.PartialAsync("_ActionButtons", item.ProductId)
                </td>

            </tr>
        }
    </tbody>
</table>
