@model BikeStore.Models.TopProductsViewModel

@{
    ViewData["Title"] = "Top de Productos Vendidos";
    var topProducts = Model.TopProducts;
    var products = Model.Products;
    int topCant = Model.CantTop;
}
<style>

    .Custom-center {
        margin: 0 auto; 
    }
</style>

<h1 class="text-center">Top @topCant Productos Vendidos</h1>
<div class="Custom-center">
    <table class="table table-light table-striped table-hover text-center border border-3" style="width:70%;">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Products.First().ProductName)</th>
                <th>@Html.DisplayNameFor(model => model.Products.First().ModelYear)</th>
                <th>@Html.DisplayNameFor(model => model.Products.First().Price)</th>
                <th>Cantidad Vendida</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td class="text-start">@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ModelYear)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        @{
                            var cantidad = topProducts.FirstOrDefault(x => x.ProductId == item.ProductId)?.Total ?? 0;
                            @cantidad
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
