@model BikeStore.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width=100%">
                <div class="card-body">
                    <h5 class="card-title">Datos Del Cliente</h5>
                    <article class="card-text">
                    </article>
                    <ul class="list-group list-group-flush px-4">
                        <li class="list-group-item">
                            <p><b> @Html.DisplayNameFor(model => model.FirstName):</b> @Html.DisplayFor(model => model.FirstName)</p>
                        </li>
                        <li class="list-group-item">
                            <p><b> @Html.DisplayNameFor(model => model.LastName):</b> @Html.DisplayFor(model => model.LastName)</p>
                        </li>
                        <li class="list-group-item">
                            <p><b> @Html.DisplayNameFor(model => model.Phone):</b> @Html.DisplayFor(model => model.Phone)</p>
                        </li>
                        <li class="list-group-item">
                            <p><b> @Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)</p>
                        </li>
                        <li class="list-group-item">
                            <p><b> @Html.DisplayNameFor(model => model.Street):</b> @Html.DisplayFor(model => model.Street)</p>
                        </li>
                        <li class="list-group-item">
                            <p><b> @Html.DisplayNameFor(model => model.City):</b> @Html.DisplayFor(model => model.City)</p>
                        </li>
                        <li class="list-group-item">
                            <p><b> @Html.DisplayNameFor(model => model.State):</b> @Html.DisplayFor(model => model.State)</p>
                        </li>
                        <li class="list-group-item">
                            <p><b> @Html.DisplayNameFor(model => model.ZipCode):</b> @Html.DisplayFor(model => model.ZipCode)</p>
                        </li>

                    </ul>
                    <div class="d-flex justify-content-end">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@Model?.CustomerId" class="btn btn-warning">Editar</a>
                            <a asp-controller="Orders" asp-action="Index" asp-route-CustomerId="@Model?.CustomerId" class="btn btn-success">Ver Ordenes</a>
                            <a asp-action="Index" class="btn btn-info">Volver a Lista</a>
                        </div>
                    </div>
                    @if (Model.Orders.Count > 0)
                    {
                        <hr />
                        <h5 class="card-title mb-3">Ordenes del Cliente</h5>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Orders.First().OrderId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Orders.First().OrderDate)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Orders)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                        </td>

                                        <td>
                                            <a asp-controller="Orders" asp-action="Details" target="_blank" asp-route-id="@item.OrderId" class="btn btn-info">Detalles</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>