@model IEnumerable<BikeStore.Models.Customer>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>Lista de Clientes</h1>

<div class="d-flex justify-content-end">
    <div class="btn-group btn-group-sm">
        <a asp-action="Create" class="btn btn-info">Crear Cliente</a>
    </div>
</div>
<div class="d-flex justify-content-end">
    <form asp-action="Index" method="get" id="formSearch">
        <div class="input-group mt-3">
            <input type="hidden" name="page" value="@ViewBag.CurrentPage??1" />
            <input type="search" class="form-control" placeholder="Datos del cliente" name="searchString" aria-label="Recipient's username" aria-describedby="basic-addon2"
                   value="@ViewBag.SearchString">
            <button type="submit" class="input-group-text" id="basic-addon2">Buscar</button>
        </div>
    </form>
</div>


<hr />
<div class="table-responsive">
    <table class="table table-light table-striped table-hover" id="myTable">
        <thead class="text-center">
            <tr>
                <th>
                    @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("FirstName", Html.DisplayNameFor(model => model.FirstName).ToString()))
                </th>
                <th>
                    @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("LastName", Html.DisplayNameFor(model => model.LastName).ToString()))
                </th>
                <th>
                    @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("Phone", Html.DisplayNameFor(model => model.Phone).ToString()))
                </th>
                <th>
                    @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("Email", Html.DisplayNameFor(model => model.Email).ToString()))
                </th>
                <th>
                    @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("Street", Html.DisplayNameFor(model => model.Street).ToString()))
                </th>
                <th>
                    @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("City", Html.DisplayNameFor(model => model.City).ToString()))
                </th>
                <th>
                    @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("State", Html.DisplayNameFor(model => model.State).ToString()))
                </th>
                <th>
                    @await Html.PartialAsync("_SortButtonComponent", Tuple.Create("ZipCode", Html.DisplayNameFor(model => model.ZipCode).ToString()))
                </th>
                <th><p class="d-flex align-items-center justify-content-center">Acciones @await Html.PartialAsync("_PdfIndex")</p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @await Html.PartialAsync("_ActionButtons", item.CustomerId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_Pagination")